body {
    font-family: Arial;
    background: #f0f2f5;
}
.box {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
textarea, input, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}
.post {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
}
